.detail {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px auto;
}

.detail-img {
    max-width: 600px;
    min-width: 290px;
    height: 500px;
    width: 100%;
    display: block;
    object-fit: cover;
    margin-right: 150px;
    border-radius: 5px;
    border: 1px solid gray;
}
.detail-img-small {
    max-width: 100px;
    min-width: 100px;
    height: 100px;
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 2px;
    border: 1px solid gray;
    margin-top: 10px;
    margin-right: 10px;
}

.detail .box {
    max-width: 600px;
    min-width: 290px; 
    height: 500px;
    width: 100%;
}


.box .row h2{
    text-transform: uppercase;
    letter-spacing: 2px;
}

.box .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #257558;
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 10px 25px;
    border-radius: 5px;
}

.colors button{
    width: 30px;
    height: 30px;
    border: none;
    margin-left: 3px;
    cursor: pointer;
    border-radius: 20px;
  }
  
.colors {
    display: flex;
    /* justify-content: start; */
    align-items: center;
}  

.colors h3{
   margin-right: 20px;
}  

.row h4{
    font-weight: 600;
 }

 .box .fav {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #257558;
    color: #257558;
    text-decoration: none;
    width: 100%;
    padding: 10px 25px;
    border-radius: 5px;
    margin-top: 10px;
}
.box .fav:hover {
  background-color: aliceblue;
}

.image-list{
    display: flex;
    /* justify-content: start; */
}

.select {
    display: flex;
    align-items: center;
}

.select h3 {
    margin-right: 10px;
}