.detail {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px auto;
    min-height: 100vh;
    height: auto;
}

.detail-img {
    max-width: 700px;
    min-width: 290px;
    height: 500px;
    width: 100%;
    display: block;
    object-fit: cover;
    margin-right: 150px;
    border-radius: 5px;
    border: 1px solid gray;
}
.detail-img-small {
    max-width: 100px;
    height: 100px;
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
    border: 1px solid #d3d2d2;
  
}

.detail .box {
    max-width: 600px;
    min-width: 290px; 
    height: 1000px;
    width: 100%;
    margin-left: 50px;
    
}


.box .row h2{
    text-transform: uppercase;
    letter-spacing: 2px;
}

.box .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #257558;
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.box h1{
    margin-top: 0;
}

.colors button{
    width: 30px;
    height: 30px;
    border:none;
    margin-left: 3px;
    border-radius: 20px;
  }
  
.colors {
    display: flex;
    justify-content: flex-start; /* decia start */ 
    align-items: center;
}  

.colors h4{
   margin-right: 20px;
}  

.colors h3{
    margin-right: 20px;
 }  

.row h4{
    font-weight: 600;
 }

 .box .fav {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #257558;
    color: #257558;
    text-decoration: none;
    width: 100%;
    padding: 10px 25px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.box .fav:hover {
  background-color: aliceblue;
}

.image-list{
    display: flex;
    justify-content: flex-start; /* decia start */ 
}

.select {
    display: flex;
    align-items: center;
}

.amount h4 {
    margin-right: 20px;
}
.amount h3 {
    margin-right: 20px;
}

section .cart {
    position: relative;
    border: 1px solid #ccc;

}
.amount {
    display: flex;
    align-items: center;
}



.amount span {
    color: crimson;
    padding: 0 14px;
    height: 25px;
}

.amount span {
    color: crimson;
    padding: 0 14px;
    height: 25px;
}


.amount .count {
    width: 25px;
    height: 25px;
    border: 1px solid #257558;
    outline: none;
    color: #257558;
    background: transparent;
    cursor: pointer;
   
}

.total {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
}



.total h3 {
    margin-right: 50px;
    margin-left: 50px;
    color: crimson;

}

.tag {
    display: flex;
    margin: 0;
    padding: 0;

}

.tag p {
    margin-right: 10px;
    background: rgba(85, 85, 85, 0.227);
    padding: 5px 10px;
    border-radius: 3px;
}

.cart-img-cont {
    display: flex;
    align-items: center;
    width: 200px;
}

.cart-img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cart .box {
    max-width: 300px;
    min-width: 90px; 
    height: 300px;
    width: 100%;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price h4 {
    color: crimson;
    margin-top: 20px;
}

.breadcrums {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 100px;
    margin-left: 20px;
    margin-top: 50px;
}


#title {
    margin-top: 20px;
    color: black;
}

.image-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    z-index: 5;
    background-color:white;
    border: 1px solid #d3d2d2
}


.card-image {
    margin-left: 90px;
    width: 150px;
    height: 200px;
}

.row-image {
    width: 50px;
}

#span {
    color: crimson;
    padding: 0 14px;
    height: 25px;
}



.gral-container {
    min-height: 100vh;
    height: auto;
}