.loupe {
    background-color: transparent;
    border:none;
    margin-top: 7px;
    padding-left: 15px;
}

.ic {
    cursor: pointer;
}

.icc {
    background-color: transparent;
    border:none;
    margin-left: 20px;
    cursor:pointer;

}

